/* * {
  box-sizing: border-box;
} */

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Navbar */
nav {
  font-family: 'Georgia', Times, Times New Roman, serif;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  /* color: black; */
}

nav ul li {
  float: right;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  background-color: #111;
}