* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-image: url("../images/rockywall.png");
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666666;
  color: #ffffff;
  height: 60px;
  padding: 35px 0 0 0;
  border-style: solid;
  border-width: 5px 0 0 0;
  border-color: #4aaaa5;
  text-align: center;
}

h1, h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/*--- Navbar ---*/

nav {
  background-color: #ffffff;
  height: 84px;
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: #cccccc;
  margin: auto;
}

nav ul {
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 32px 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  padding: 34px;
  color: #777777;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #777777;
  color: #ffffff;
}

nav h1 {
  margin: 0;
}

.nav-content {
  width: 960px;
  margin: auto;
}

hr {
  margin: 28px 0 28px 0;
}

.container {
  position: relative;
  top: 28px;
  width: 960px;
  background-color: #ffffff;
  margin: auto;
}

.about {
  background-color: #ffffff;
  padding: 28px;
}

.about p {
  line-height: 2;
}

.about img {
  float: left;
  height: 200px;
  margin: 0 28px 28px 0;
}

.about h1 {
  padding: 0;
  margin: 0;
  color: #4aaaa5;
}

#logo {
  display: inline-block;
  padding: 28px;
  background: #4aaaa5;
  color: #ffffff;
}